services:
  db:
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_USER: pos_user
      POSTGRES_PASSWORD: pos_pass
      POSTGRES_DB: pos_db
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./docs/schema.sql:/docker-entrypoint-initdb.d/01-init.sql
      - ./docs/seed_data.sql:/docker-entrypoint-initdb.d/02-seed.sql

  backend:
    build:
      context: ./backend
    restart: always
    environment:
      PORT: 4000
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: pos_user
      DB_PASSWORD: pos_pass
      DB_NAME: pos_db
    ports:
      - "4000:4000"
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  postgres_data:
